/*
.active {
    background-color: coral;
    color: white;
}
*/
.queryButton {
    padding: 2px 2px 2px 2px;
    margin: 6px 0px 6px 0px;
    background-color: aliceblue;
    width: 100%;
    font-weight: 900;
    border: 1px solid darkslateblue;
    border-radius: 25px;
    box-shadow: 2px 2px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    transition: all .2s ease-in-out;
    color: darkslateblue;
    font-family: 'Trirong', serif;
    font-size: 1.0em;
}

.queryButton:hover {
    background-color: lightslategray;
    border: 1px solid #5966b2;
    color: aliceblue;
    transition: 0.5s;
    transform: scale(1.1);
}

.queryButtonContent {
    background-color: #b2a16b;
    padding: 0% 2% 0% 2%;
}

/* COLORS TO BE USED
#b2a16b light brown
#fff3cb off white
#ffedb2 beige
#5966b2 blue
#b2bdff light blue
*/


/* MENU */

/* MENU BAR */
.navbar {
    background-color: #5966b2;
    border-radius: 5px;
}

/* MENU BUTTONS */
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
    background-color: #b2bdff;
    border: 1px solid #5966b2;
}

/* MENU BUTTONS TEXT */
.navbar .navbar-nav li a {
    /*display: inline-block;
    float: none;
    vertical-align: top;*/
    color: #fff3cb;
    font-family: 'Slabo 27px', serif;
    font-size: 1.4em;
    font-weight: bolder;
    text-shadow: 2px 1px #5966b2;

}

/* MENU BUTTONS HOVER TEXT */
.navbar .navbar-nav li a:hover {
    color: #5966b2;
    font-family: 'Slabo 27px', serif;
    font-size: 1.4em;
    font-weight: bolder;
    text-shadow: 2px 1px #fff3cb;
}

/* COLLAPSED MENU STATE */
.navbar .navbar-collapse {
    text-align: center;
}




/* BACKGROUND */
/*body {
    position: absolute;
    width: 100%;
    height: 100%;
}*/

body {
    background-color: #fff3cb;
    height: 100vh;
}

/* INNER CONTAINER */
main {
    background-color: #ffedb2;
    border-left: 3px solid #b2a16b;
    border-right: 3px solid #b2a16b;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 15%;
    height: 100vh;
    overflow: scroll;
}

/* EXTRAS */
h1, h2, h3, h4, h5 {
    font-family: 'Slabo 27px', serif;
}

p {
    font-family: 'Trirong', serif;
    font-weight: 400;
}

.divider {
    color: #5966b2;
}

.searchBar {
    width: 75%;
}

label {
    font-family: 'Trirong', serif;
}

button {
    margin-top: 5%;
}

input {
    margin-top: 1%;
    margin-bottom: 1%;
}

textarea {
    margin-top: 1%;
    margin-bottom: 1%;
}

/* FORM */
.myform input.ng-invalid.ng-touched {
    background-color: #FA787E;
}

.myform input.ng-valid.ng-touched {
    background-color: #78FA89;
}

