.active {
    background-color: coral;
    color: blue;
}

.queryButton {
    padding: 5px 5px 5px 5px;
    margin: 6px 0px 6px 0px;
    background-color: lightgray;
    width: 100%;
    font-weight: 900;
    border: 1px solid darkorange;
    border-radius: 25px;
    box-shadow: 2px 2px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.queryButton:hover {
    background-color: lightblue;
    transition: 0.5s;
}



/* MENU */
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}


/* CONTAINER */
.mainContainer {
    background-color: gainsboro;
    height: 100vh;
}
/*
.mainRow {
    border: 2px solid darkgoldenrod;
}
*/
main {
    background-color: lightblue;
    height: 100vh;
    padding: 5%;
}