<h5>Upload Queries</h5>
<!-- QUERY NAME -->
<form name="myform" ng-submit="addName()" novalidate>
    <div class="inputwrapper">
        <h5>Query Name</h5>
        <input class="form-control" type="text" name="nameField" ng-model="nameField">

        <h5>Query Category</h5>
        <select class="form-control">
            <option ng-repeat="(key, n) in names">{{ n.name }}</option>
        </select>

        <h5>Query</h5>
        <textarea class="form-control" type="text" rows="3" name="nameField" ng-model="nameField"></textarea>

    <hr>
    </div>
    <button type="submit" class="btn" ng-disabled="myform.$invalid"> Add Name </button>
</form>




<!--
<div ng-repeat="(key, n) in names">
    <p>{{ n.name }}</p>
</div>
-->