<h4>Register Query</h4>
<!-- QUERY NAME -->
<p>To register your query enter the following information:</p>

<form name="myform" ng-submit="addQuery()">
<div>
   <h5>Name</h5>
       <input type="text" name="nameField" ng-model="nameField">

   <!--<input type="text" name="categoryField" ng-model="categoryField">-->

   <h5>Category</h5>
        <select>
            <div ng-model="categoryField">
                <option ng-repeat="(key, c) in categories">{{ c.category }}</option>
            </div>
        </select>


   <h5>Description</h5>
    <input type="text" name="descriptionField" ng-model="descriptionField">

    <h5>Query</h5>
        <textarea type="text" rows="3" name="queryField" ng-model="queryField"></textarea>

<hr>
</div>
    <button type="submit" class="btn">Add Query</button>
</form>




<!--
<div ng-repeat="(key, n) in names">
    <p>{{ n.name }}</p>
</div>
-->