

<!--<div class="container-fluid">
<div class="row">

<div class="col-md-6 col-md-offset-3">
<h3>Upload</h3>
<p>Upload your queries here</p>
<form ng-submit="addName()" novalidate>
    <div>
        <h5>Name</h5>
        <input class="form-control" type="text" name="nameField" ng-model="nameField">
    </div>
    <button type="submit" class="btn"> Add Name </button>
</form>
</div>
</div>

<div class="row">
<div class="col-md-6 col-md-offset-3">
    <h3> Names Stored </h3>
    <div ng-repeat="(key, n) in names"> {{ n.name }}</div>
</div>
</div>
</div>-->



