<div class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li><a ui-sref="view.cat1" ng-repeat="(key, n) in queries" ng-show="$index==n.category">{{ n.category }}</a></li>
            <li><a ui-sref="view.cat2" ng-repeat="(key, n) in queries" ng-show="$index==n.category">{{ n.category }}</a></li>
            <li><a ui-sref="view.cat3" ng-repeat="(key, n) in queries" ng-show="$index==n.category">{{ n.category }}</a></li>
        </ul>
</div>

<ui-view>
    <i>Some content will load here!</i>
</ui-view>

<!--
<div ng-repeat="(key, n) in queries">
    <p>{{ n.category }}</p>
</div>

ng-repeat="(key, n) in queries"
-->