<h4>SQL Query Library</h4>
<p> Use this application to store SQL queries needed for daily tasks. Store queries by category
    in the upload queries area.</p>

<h4>Queries Status</h4>
<p>Number of Categories:</p>
<p>Number of Queries:</p>


<nav class="navbar navbar-default">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a ui-sref="view.cat1" ng-repeat="(key, n) in queries" ng-show="$index==0">{{ n.category }}</a></li>
                <li><a ui-sref="view.cat2" ng-repeat="(key, n) in queries" ng-show="$index==1">{{ n.category }}</a></li>
                <li><a ui-sref="view.cat3" ng-repeat="(key, n) in queries" ng-show="$index==2">{{ n.category }}</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<ui-view>
    <p>Click on the categories to view your queries</p>
</ui-view>


<!--
<div class="container-fluid">
    <div class="row">
        <div class="navbar navbar-default">
            <ul class="nav navbar-nav">
                <li><a ui-sref="view.cat1" ng-repeat="(key, n) in queries" ng-show="$index==0">{{ n.category }}</a></li>
                <li><a ui-sref="view.cat2" ng-repeat="(key, n) in queries" ng-show="$index==1">{{ n.category }}</a></li>
                <li><a ui-sref="view.cat3" ng-repeat="(key, n) in queries" ng-show="$index==2">{{ n.category }}</a></li>
            </ul>
        </div>
    </div>
</div>
-->